body{
    margin: 0;
    padding: 0;
    background: rgb(39, 41, 39);
    animation-name: animate ;
    animation-duration: 2s ;
}
a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: radial-gradient(#03a0f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 30px;
}
a:hover{
    animation: animate 2s linear infinite;
}
@keyframes animate{
    0%{
        background-color: #f441a5;
    }
    30%{
        background-color: aqua;
    }
    60%{
        background-color: rgb(205, 237, 227);
    }
    90%{
        background-color: rgb(105, 114, 114);
    }
    30%{
        background-color: rgb(167, 184, 184);
    }
}
a:before{
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(03a0f4,#f441a5,#ffeb3b,#03a9f4);
    background-size:400px;
    border-radius:30px;
    filter: blur(20px);
    
}