body
{
margin:0;
padding:0;
/*background: url('Top-10-Ayurvedic-Indian-Spices-in-Indian-Foods-and-Medicines.jpg');*/
background-size: cover;
background-position: center;
background-image: linear-gradient(#434545,#85b19c,#a6c2cf);
font-family: sans-serif;
}
.login
{
width:320px;
height:420px;
background:#000;
color:#fff;
top: 50%;
left:50%;
border-radius:10%;
background-image: linear-gradient(#353838,#434645,#3c3f40);
position:absolute;
transform:translate(-50%,-50%);
box-sizing:border-box;
padding:70px 30px;
}
.avatar
{
width:100px;
height:100px;
border-radius:50%;
position:absolute;
top:-50px;
left:calc(50% - 50px);
}
h1
{
margin:0;
padding:0 0 20px;
text-align:center;
font-size:22px
}
.login p
{
margin:0;
padding:0;
font-weight:bold;
}
.login input
{
width:100%;
margin-bottom:20px;
}
.login input[type="text"], input[type="password"]
{
border:none;
border-bottom:1px solid #fff;
background:transparent;
outline:none;
height:40px;
color:#fff;
font-size:16px;
}
.login input[type="submit"]
{
text-decoration:none;
border:none;
outline:none;
height:40px;
background:#fb2525;
color:#fff;
font-size:18px;
border-radius:20px;
}
.login input[type="submit"]:hover
{
color:white;
background:darkgrey;
/* background: radial-gradient(#03a0f4,#f441a5,#ffeb3b,#03a9f4); */
cursor:pointer;

}

.login a
{
text-decoration:none;
font-size:12px;
line-height:20px;
color:darkgrey;
}
.login a:hover
{
color:#ffc107;
}
